In [35]:
# 각 동에서 최소 거리에 있는 학교값을 추출한다.
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
import os
import pandas as pd
import numpy as np
import geopy.distance
import reverse_geocode
from scipy.spatial.distance import cdist
from haversine import haversine

In [36]:
# 성동구 데이터 불러오기
df1 = pd.read_csv("C:/Users/gherwt/KDT30/p1/dong.csv", encoding = "cp949")
df2 = pd.read_csv("C:/Users/gherwt/KDT30/p1/school_location.csv", encoding = "cp949")

In [37]:
# 위도 경도 이름 변경
df1 = df1.rename(columns={'위도':'dong_lat'})
df1 = df1.rename(columns={'경도':'dong_long'})

In [38]:
# 위도 경도 이름 변경
df2 = df2.rename(columns={'위도':'school_lat'})
df2 = df2.rename(columns={'경도':'school_long'})

In [39]:
df2.head(2)

        학교명                  주소    법정동  school_lat  school_long
0  서울숭신초등학교   서울특별시 성동구 마장로 161  하왕십리동   37.566756   127.030334
1     행당중학교  서울특별시 성동구 왕십리로 189    행당동   37.561700   127.034703

In [40]:
# 각 df 의 위도, 경도 data 를 따로 저장해준다.
df1_location = df1[['dong_lat', 'dong_long']]
df2_location = df2[['school_lat', 'school_long']]

In [41]:
# cdist 를 사용해서 동과 각 학교 사이의 거리를 구해준다.
dist_mat = cdist(df1_location, df2_location, metric = haversine)
df_test = pd.DataFrame(dist_mat, columns = df2.index, index = df1.index)
df_test.head()

,0,1,2,3,4,5,6,7,8,9,...,31,32,33,34,35,36,37,38,39,40
0,1.473224,1.263749,1.947410,1.752350,3.007771,1.745353,0.173394,2.172471,1.678899,0.977420,...,2.573287,0.191084,1.473224,1.745353,1.390562,1.263749,1.947410,2.573287,1.331554,2.253397
1,1.824240,1.643252,2.310931,1.407614,3.123024,1.932302,0.553031,2.550299,2.051446,1.158179,...,2.783232,0.192920,1.824240,1.932302,1.012456,1.643252,2.310931,2.783232,1.090252,2.621976
2,2.060209,1.769342,2.345190,1.183575,2.843297,1.726497,0.738179,2.705371,2.121776,0.986022,...,2.582533,0.433500,2.060209,1.726497,1.013925,1.769342,2.345190,2.582533,0.747695,2.817032
3,2.328138,2.042251,2.601708,0.909513,2.904372,1.873363,1.007728,2.979142,2.386903,1.177877,...,2.722306,0.681200,2.328138,1.873363,0.831344,2.042251,2.601708,2.722306,0.546504,3.090460
4,0.038938,0.689437,1.365728,3.194585,3.594438,2.302545,1.294820,0.950629,1.053257,1.841417,...,2.862079,1.627441,0.038938,2.302545,2.733818,0.689437,1.365728,2.862079,2.742478,0.880819

In [42]:
# np의 array 자료구조로 변환
df_arr = df_test.to_numpy()

# 0열에 가장 가까운 학교와의 거리에 대한 index가 존재 -> 오름차순정렬함
close_sub_index = df_arr.argsort(axis = 1)
pd.DataFrame(close_sub_index)

,0,1,2,3,4,5,6,7,8,9,...,31,32,33,34,35,36,37,38,39,40
0,28,13,6,32,26,27,18,9,15,22,...,40,10,38,31,16,4,30,11,20,19
1,32,26,27,28,6,13,18,24,35,39,...,40,10,38,31,4,16,30,11,20,19
2,27,26,18,32,6,13,29,39,28,24,...,21,23,7,40,4,16,11,30,20,19
3,27,18,26,29,39,24,32,35,17,3,...,21,4,7,23,40,16,11,30,20,19
4,0,33,22,25,1,36,40,7,23,8,...,31,10,38,3,17,4,19,30,11,20
5,23,7,25,40,8,1,36,33,0,37,...,29,39,24,4,20,35,30,11,17,3
6,21,2,37,8,16,14,12,7,23,1,...,4,27,11,30,39,29,24,35,17,3
7,0,33,22,25,40,1,36,7,23,28,...,3,17,10,38,31,4,19,30,11,20
8,34,5,31,38,10,4,15,9,12,30,...,3,24,19,25,0,33,23,7,35,40
9,30,11,4,20,31,38,10,34,5,19,...,7,23,25,0,33,17,3,40,24,35
10,19,20,38,31,10,16,30,11,4,21,...,18,26,27,32,29,39,24,17,3,35
11,17,3,24,35,29,39,27,18,26,32,...,25,21,23,7,40,11,30,16,20,19
12,16,21,2,37,8,7,23,25,14,40,...,32,26,18,27,29,39,24,35,17,3
13,15,9,26,18,6,13,27,28,32,12,...,17,7,23,4,16,40,11,30,20,19
14,22,1,36,0,33,14,25,6,13,28,...,10,38,31,17,3,4,11,30,20,19
15,14,1,36,8,22,12,2,37,25,0,...,39,24,35,4,17,3,30,11,20,19
16,0,33,25,22,1,36,40,7,23,8,...,29,39,35,3,17,4,19,20,11,30

In [43]:
# pd.DataFrame(close_sub_index)[[0]] index 가 0인 값만 모아준 행렬
close_sub_index = df_arr.argsort(axis = 1)[:,0]

In [44]:
# 동에서 가장 가까운 학교와의 거리
df1['school_dis'] = pd.DataFrame(dist_mat).min(axis = 1).values

In [46]:
df1

      법정동   dong_lat   dong_long  school_dis
0   금호동1가  37.554697  127.023412    0.157064
1   금호동2가  37.552482  127.020133    0.192920
2   금호동3가  37.549504  127.021812    0.132526
3   금호동4가  37.547468  127.020060    0.274937
4     도선동  37.566613  127.029931    0.038938
5     마장동  37.567305  127.039084    0.209327
6     사근동  37.561371  127.046789    0.146234
7   상왕십리동  37.569332  127.025349    0.524474
8   성수동1가  37.543621  127.042815    0.501694
9   성수동2가  37.541123  127.056125    0.200793
10    송정동  37.552124  127.067652    0.342383
11    옥수동  37.542764  127.014662    0.230452
12    용답동  37.564354  127.052795    0.349178
13    응봉동  37.551169  127.031462    0.168467
14  하왕십리동  37.562462  127.029586    0.104621
15    행당동  37.559076  127.035869    0.139131
16    홍익동  37.566490  127.032354    0.180476

In [47]:
df1.to_csv('school_distance.csv')